.aboutme-container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.aboutme-container p {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #ffd4d4;
}
