/* Header.css */
.header {
    background-color: #eab29e;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  